.form-container {
    border: 2px solid #010200;
    background: #ffffff;
    border-radius: 0px;
    -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
    -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
    box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
    font-family: 'Helvetica Neue',Helvetica,sans-serif;
    text-decoration: none;
    vertical-align: middle;
    min-width:300px;
    padding:20px;
    width:300px;
}
.form-field {
    border: 1px solid #f7f1ff;
    background: #f7f1ff;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    color: #f7f1ff;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    padding:8px;
    margin-bottom:20px;
    width:280px;
}
.form-field:focus {
    background: #fff;
    color: #000000;
}
.form-container h2 {
    text-shadow: #f7f1ff 0 1px 0;
    font-size:18px;
    margin: 0 0 10px 0;
    font-weight:bold;
    text-align:center;
}
.form-title {
    margin-bottom:10px;
    color: #725129;
    text-shadow: #fdf2e4 0 1px 0;
}
.submit-container {
    margin:8px 0;
    text-align:right;
}
.submit-button {
    border: 1px solid #121517;
    background: #329c97;
    background: -webkit-gradient(linear, left top, left bottom, from(#4fb3a2), to(#329c97));
    background: -webkit-linear-gradient(top, #4fb3a2, #329c97);
    background: -moz-linear-gradient(top, #4fb3a2, #329c97);
    background: -ms-linear-gradient(top, #4fb3a2, #329c97);
    background: -o-linear-gradient(top, #4fb3a2, #329c97);
    background-image: -ms-linear-gradient(top, #4fb3a2 0%, #329c97 100%);
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
    box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
    text-shadow: #addc7e 0 1px 0;
    color: #ffffff;
    font-family: helvetica, serif;
    padding: 8.5px 18px;
    font-size: 14px;
    text-decoration: none;
    align: flex;
}
.submit-button:hover {
    border: 1px solid #000000;
    text-shadow: #31540c 0 1px 0;
    background: #3651a3;
    background: -webkit-gradient(linear, left top, left bottom, from(#5a77bf), to(#3651a3));
    background: -webkit-linear-gradient(top, #5a77bf, #3651a3);
    background: -moz-linear-gradient(top, #5a77bf, #3651a3);
    background: -ms-linear-gradient(top, #5a77bf, #3651a3);
    background: -o-linear-gradient(top, #5a77bf, #3651a3);
    background-image: -ms-linear-gradient(top, #5a77bf 0%, #3651a3 100%);
    color: #fff;
}
.submit-button:active {
    text-shadow: #31540c 0 1px 0;
    border: 1px solid #000000;
    background: #3651a3;
    background: -webkit-gradient(linear, left top, left bottom, from(#5a77bf), to(#3651a3));
    background: -webkit-linear-gradient(top, #5a77bf, #3651a3);
    background: -moz-linear-gradient(top, #5a77bf, #3651a3);
    background: -ms-linear-gradient(top, #5a77bf, #3651a3);
    background: -o-linear-gradient(top, #5a77bf, #3651a3);
    background-image: -ms-linear-gradient(top, #5a77bf 0%, #3651a3 100%);
    color: #fff;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5a77bf;
}

li {
    float: left;
}
p {
    display: block;
    color: red;
    text-align: center;
    padding: 10px 14px;
}
.userinf{
    padding: 10px;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}